<!DOCTYPE html>
<html>
  <head>
    <title>Login Form</title>
    <link rel="stylesheet" type="text/css" href="./css/login.css" />
    <script src="./js/login.js"></script>
  </head>
  <body>
    <div class="login-form-container">
      <form class="login-form">
        <h2>Login</h2>
        <div class="input-field">
          <input type="text" id="ID" name="ID" required="off" />
          <label for="ID">ID</label>
        </div>
        <div class="input-field">
          <input type="password" id="PW" name="password" />
          <label for="password">Password</label>
        </div>
        <button type="submit" id="btn" onclick="login()">Login</button>
        <p class="signup-link">
          Don't have an account? <a href="/register">Sign up</a>
        </p>
      </form>
    </div>
  </body>
</html>
